version: '3.5'

networks:
  frontend:
    driver: ${NETWORKS_DRIVER}
  backend:
    driver: ${NETWORKS_DRIVER}

services:

  ### Thumbor #########################################
  thumbor:
    build: ./thumbor
    volumes:
      - ${DATA_PATH_HOST}/thumbor/data:/data
      - ${DATA_PATH_HOST}/thumbor/data:/logs
    ports:
      - "${THUMBOR_PORT}:8000"
    environment:
      - THUMBOR_LOG_FORMAT=${THUMBOR_LOG_FORMAT}
      - THUMBOR_LOG_DATE_FORMAT=${THUMBOR_LOG_DATE_FORMAT}
      - MAX_WIDTH=${MAX_WIDTH}
      - MAX_HEIGHT=${MAX_HEIGHT}
      - MIN_WIDTH=${MIN_WIDTH}
      - MIN_HEIGHT=${MIN_HEIGHT}
      - ALLOWED_SOURCES=${ALLOWED_SOURCES}
      - QUALITY=${QUALITY}
      - WEBP_QUALITY=${WEBP_QUALITY}
      - PNG_COMPRESSION_LEVEL=${PNG_COMPRESSION_LEVEL}
      - AUTO_WEBP=${AUTO_WEBP}
      - MAX_AGE=${MAX_AGE}
      - MAX_AGE_TEMP_IMAGE=${MAX_AGE_TEMP_IMAGE}
      - RESPECT_ORIENTATION=${RESPECT_ORIENTATION}
      - IGNORE_SMART_ERRORS=${IGNORE_SMART_ERRORS}
      - PRESERVE_EXIF_INFO=${PRESERVE_EXIF_INFO}
      - ALLOW_ANIMATED_GIFS=${ALLOW_ANIMATED_GIFS}
      - USE_GIFSICLE_ENGINE=${USE_GIFSICLE_ENGINE}
      - USE_BLACKLIST=${USE_BLACKLIST}
      - LOADER=${LOADER}
      - STORAGE=${STORAGE}
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - RESULT_STORAGE=${RESULT_STORAGE}
      - ENGINE=${ENGINE}
      - SECURITY_KEY=${SECURITY_KEY}
      - ALLOW_UNSAFE_URL=${ALLOW_UNSAFE_URL}
      - ALLOW_OLD_URLS=${ALLOW_OLD_URLS}
      - FILE_LOADER_ROOT_PATH=${FILE_LOADER_ROOT_PATH}
      - HTTP_LOADER_CONNECT_TIMEOUT=${HTTP_LOADER_CONNECT_TIMEOUT}
      - HTTP_LOADER_REQUEST_TIMEOUT=${HTTP_LOADER_REQUEST_TIMEOUT}
      - HTTP_LOADER_FOLLOW_REDIRECTS=${HTTP_LOADER_FOLLOW_REDIRECTS}
      - HTTP_LOADER_MAX_REDIRECTS=${HTTP_LOADER_MAX_REDIRECTS}
      - HTTP_LOADER_FORWARD_USER_AGENT=${HTTP_LOADER_FORWARD_USER_AGENT}
      - HTTP_LOADER_DEFAULT_USER_AGENT=${HTTP_LOADER_DEFAULT_USER_AGENT}
      - HTTP_LOADER_PROXY_HOST=${HTTP_LOADER_PROXY_HOST}
      - HTTP_LOADER_PROXY_PORT=${HTTP_LOADER_PROXY_PORT}
      - HTTP_LOADER_PROXY_USERNAME=${HTTP_LOADER_PROXY_USERNAME}
      - HTTP_LOADER_PROXY_PASSWORD=${HTTP_LOADER_PROXY_PASSWORD}
      - HTTP_LOADER_CA_CERTS=${HTTP_LOADER_CA_CERTS}
      - HTTP_LOADER_VALIDATE_CERTS=${HTTP_LOADER_VALIDATE_CERTS}
      - HTTP_LOADER_CLIENT_KEY=${HTTP_LOADER_CLIENT_KEY}
      - HTTP_LOADER_CLIENT_CERT=${HTTP_LOADER_CLIENT_CERT}
      - HTTP_LOADER_CURL_ASYNC_HTTP_CLIENT=${HTTP_LOADER_CURL_ASYNC_HTTP_CLIENT}
      - STORAGE_EXPIRATION_SECONDS=${STORAGE_EXPIRATION_SECONDS}
      - STORES_CRYPTO_KEY_FOR_EACH_IMAGE=${STORES_CRYPTO_KEY_FOR_EACH_IMAGE}
      - FILE_STORAGE_ROOT_PATH=${FILE_STORAGE_ROOT_PATH}
      - UPLOAD_MAX_SIZE=${UPLOAD_MAX_SIZE}
      - UPLOAD_ENABLED=${UPLOAD_ENABLED}
      - UPLOAD_PHOTO_STORAGE=${UPLOAD_PHOTO_STORAGE}
      - UPLOAD_DELETE_ALLOWED=${UPLOAD_DELETE_ALLOWED}
      - UPLOAD_PUT_ALLOWED=${UPLOAD_PUT_ALLOWED}
      - UPLOAD_DEFAULT_FILENAME=${UPLOAD_DEFAULT_FILENAME}
      - MONGO_STORAGE_SERVER_HOST=${MONGO_STORAGE_SERVER_HOST}
      - MONGO_STORAGE_SERVER_PORT=${MONGO_STORAGE_SERVER_PORT}
      - MONGO_STORAGE_SERVER_DB=${MONGO_STORAGE_SERVER_DB}
      - MONGO_STORAGE_SERVER_COLLECTION=${MONGO_STORAGE_SERVER_COLLECTION}
      - REDIS_STORAGE_SERVER_HOST=${REDIS_STORAGE_SERVER_HOST}
      - REDIS_STORAGE_SERVER_PORT=${REDIS_STORAGE_SERVER_PORT}
      - REDIS_STORAGE_SERVER_DB=${REDIS_STORAGE_SERVER_DB}
      - REDIS_STORAGE_SERVER_PASSWORD=${REDIS_STORAGE_SERVER_PASSWORD}
      - REDIS_RESULT_STORAGE_SERVER_HOST=${REDIS_RESULT_STORAGE_SERVER_HOST}
      - REDIS_RESULT_STORAGE_SERVER_PORT=${REDIS_RESULT_STORAGE_SERVER_PORT}
      - REDIS_RESULT_STORAGE_SERVER_DB=${REDIS_RESULT_STORAGE_SERVER_DB}
      - REDIS_RESULT_STORAGE_SERVER_PASSWORD=${REDIS_RESULT_STORAGE_SERVER_PASSWORD}
      - MEMCACHE_STORAGE_SERVERS=${MEMCACHE_STORAGE_SERVERS}
      - MIXED_STORAGE_FILE_STORAGE=${MIXED_STORAGE_FILE_STORAGE}
      - MIXED_STORAGE_CRYPTO_STORAGE=${MIXED_STORAGE_CRYPTO_STORAGE}
      - MIXED_STORAGE_DETECTOR_STORAGE=${MIXED_STORAGE_DETECTOR_STORAGE}
      - META_CALLBACK_NAME=${META_CALLBACK_NAME}
      - DETECTORS=${DETECTORS}
      - FACE_DETECTOR_CASCADE_FILE=${FACE_DETECTOR_CASCADE_FILE}
      - OPTIMIZERS=${OPTIMIZERS}
      - JPEGTRAN_PATH=${JPEGTRAN_PATH}
      - PROGRESSIVE_JPEG=${PROGRESSIVE_JPEG}
      - RESULT_STORAGE_EXPIRATION_SECONDS=${RESULT_STORAGE_EXPIRATION_SECONDS}
      - RESULT_STORAGE_FILE_STORAGE_ROOT_PATH=${RESULT_STORAGE_FILE_STORAGE_ROOT_PATH}
      - RESULT_STORAGE_STORES_UNSAFE=${RESULT_STORAGE_STORES_UNSAFE}
      - REDIS_QUEUE_SERVER_HOST=${REDIS_QUEUE_SERVER_HOST}
      - REDIS_QUEUE_SERVER_PORT=${REDIS_QUEUE_SERVER_PORT}
      - REDIS_QUEUE_SERVER_DB=${REDIS_QUEUE_SERVER_DB}
      - REDIS_QUEUE_SERVER_PASSWORD=${REDIS_QUEUE_SERVER_PASSWORD}
      - SQS_QUEUE_KEY_ID=${SQS_QUEUE_KEY_ID}
      - SQS_QUEUE_KEY_SECRET=${SQS_QUEUE_KEY_SECRET}
      - SQS_QUEUE_REGION=${SQS_QUEUE_REGION}
      - USE_CUSTOM_ERROR_HANDLING=${USE_CUSTOM_ERROR_HANDLING}
      - ERROR_HANDLER_MODULE=${ERROR_HANDLER_MODULE}
      - ERROR_FILE_LOGGER=${ERROR_FILE_LOGGER}
      - ERROR_FILE_NAME_USE_CONTEXT=${ERROR_FILE_NAME_USE_CONTEXT}
      - SENTRY_DSN_URL=${SENTRY_DSN_URL}
      - TC_AWS_REGION=${TC_AWS_REGION}
      - TC_AWS_ENDPOINT=${TC_AWS_ENDPOINT}
      - TC_AWS_STORAGE_BUCKET=${TC_AWS_STORAGE_BUCKET}
      - TC_AWS_STORAGE_ROOT_PATH=${TC_AWS_STORAGE_ROOT_PATH}
      - TC_AWS_LOADER_BUCKET=${TC_AWS_LOADER_BUCKET}
      - TC_AWS_LOADER_ROOT_PATH=${TC_AWS_LOADER_ROOT_PATH}
      - TC_AWS_RESULT_STORAGE_BUCKET=${TC_AWS_RESULT_STORAGE_BUCKET}
      - TC_AWS_RESULT_STORAGE_ROOT_PATH=${TC_AWS_RESULT_STORAGE_ROOT_PATH}
      - TC_AWS_STORAGE_SSE=${TC_AWS_STORAGE_SSE}
      - TC_AWS_STORAGE_RRS=${TC_AWS_STORAGE_RRS}
      - TC_AWS_ENABLE_HTTP_LOADER=${TC_AWS_ENABLE_HTTP_LOADER}
      - TC_AWS_ALLOWED_BUCKETS=${TC_AWS_ALLOWED_BUCKETS}
      - TC_AWS_STORE_METADATA=${TC_AWS_STORE_METADATA}
    networks:
      - frontend
      - backend

  ### Redis ################################################
  redis:
    build: ./redis
    volumes:
      - ${DATA_PATH_HOST}/redis:/data
    ports:
      - "${REDIS_PORT}:6379"
    networks:
      - backend

  ### MongoDB ##############################################
  mongo:
    build: ./mongo
    ports:
      - "${MONGODB_PORT}:27017"
    volumes:
      - ${DATA_PATH_HOST}/mongo:/data/db
      - ${DATA_PATH_HOST}/mongo_config:/data/configdb
    networks:
      - backend
